<!-- wp:template-part {"slug":"header","tagName":"header"} /-->


<main class="wp-block-group" style="margin-top:0px;margin-bottom:0px">

	<!-- wp:pattern {"slug":"afrikangoods/hero"} /-->

	<!-- wp:pattern {"slug":"afrikangoods/featured-products"} /-->

	<!-- wp:pattern {"slug":"afrikangoods/company-mission"} /-->

	<!-- wp:pattern {"slug":"afrikangoods/categories-showcase"} /-->

	<!-- wp:pattern {"slug":"afrikangoods/blog-section"} /-->

	<!-- wp:pattern {"slug":"afrikangoods/contact-panel"} /-->

</main>


<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->



